<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js2</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <div class="nome">
            <label for="">escreva seu nome</label>
            <input type="text" v-model="nome">
            <br>
            nome:{{nome}}
        </div>
<br><br>
        <div>
            <label for="">voce gosta de programar?</label><br>
            <input type="radio" value="sim" v-model="gosto">sim <br>
            <input type="radio" value="nao" v-model="gosto">nao <br>
            <input type="radio" value="mais ou menos" v-model="gosto">mais ou menos <br>
            resposta :{{gosto}}
        </div>
<br><br>
<button v-on:click="enviar()">enviar</button>     
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
        
    <script>var app = new Vue({
        el:"#app",
        data: {
        titulo:"aprendendo Vue.js 2",
        nome:"",
        gosto:"",
         },

         methods:{
            enviar(){
                alert("enviado")
            }
         }

    });
    </script>
</body>

</html>